<div class="init-wrapper">
  <div class="init-content">
    <h1 *ngIf="!insertingText">Document maps</h1>
    <h2 *ngIf="!insertingText">visualization tool for semantic document representations</h2>
    <div *ngIf="!insertingText" class="init-buttons">
      <button mat-raised-button color="primary" (click)="fileInput.click()"><mat-icon>file_upload</mat-icon><span>Insert corpus as file</span></button>
      <button mat-raised-button color="primary" (click)="insertingText = true"><mat-icon>wysiwyg</mat-icon><span>Insert corpus as JSON text</span></button>
    </div>
    <div *ngIf="!insertingText" class="init-example">
      <div class="separator">OR</div>
      <button mat-raised-button class="long-button" (click)="loadExample()"><mat-icon>description</mat-icon>&nbsp;<span>Use the example corpus</span></button>
    </div>
    <div *ngIf="insertingText" class="init-insert-text">
      <button mat-button aria-label="Back" class="navigate-back" (click)="insertingText = false">
        <mat-icon>arrow_back</mat-icon><span>Back</span>
      </button>
      <mat-form-field class="json-form">
        <mat-label>Insert JSON</mat-label>
        <textarea [(ngModel)]="insertedText" #jsonTextarea matInput></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="handleTextUpload()">
        <mat-icon>file_upload</mat-icon><span>Upload</span>
      </button>
    </div>
    <input #fileInput type="file" name="name" style="display: none;" (change)="handleFileUpload($event)" />
    <div *ngIf="validating" class="loading">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
