<div class="sidenav-wrapper" [ngClass]="{'comparing': compareWindow}">
  <div class="sidenav-nav">
    <button mat-icon-button aria-label="Close sidenav" (click)="closeSidenav($event)">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-raised-button color="accent" class="compare-button" [disabled]="selectedDocuments.length !== 2" (click)="clickedCompare($event)">
      Compare<span class="material-icons">keyboard_arrow_right</span>
    </button>
  </div>
  <app-document *ngFor="let doc of selectedDocuments"
                [document]="doc"
                [highlightedWords]="highlightedWords"
                [hoveredWord]="hoveredWord"
  ></app-document>
</div>
<div class="sidenav-comparison" *ngIf="comparingWindowOpen">
  <app-comparison [searchQuery]="searchQuery"
                  [selectedDocuments]="selectedDocuments"
                  (wordsChanged)="handleWordsChanged($event)"
                  (wordHovered)="handleWordHovered($event)"
  ></app-comparison>
</div>
