.comparison-wrapper{
  height: 100%;
}
.comparison-matches-wrapper{
  height: 50%;
  position: relative;
  overflow: hidden;
  .comparison-matches {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding: 2em;
    position: relative;

    ::ng-deep {
      app-comparison-entry {
        border-radius: 5px;
        padding: 0 1em;
        margin-bottom: 1px;
        &:nth-child(odd){
          background-color: #fafafa;
        }
        &:nth-child(even){
          background-color: #eeeeee;
        }
      }
    }
  }

  .matches-fade{
    position: absolute;
    bottom: 0;
    left: 2em;
    right: 2em;
    height: 1px;
    background: #fff;
    box-shadow: 0 -4px 8px 12px #fff;
  }
}
