.comparison-wrapper{
  display: flex;
  position: relative;
  overflow: hidden;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  height: 100%;
  .matches-exact, .matches-soft{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    h2{
      margin: 0 1em 0.5em 1em;
    }
  }
  .comparison-matches {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding: 0 1em;
    position: relative;

    ::ng-deep {
      app-comparison-entry {
        border-radius: 5px;
        padding: 0 1em;
        margin-bottom: 1px;
        &:nth-child(odd){
          background-color: #fafafa;
        }
        &:nth-child(even){
          background-color: #eeeeee;
        }

        .mat-checkbox-layout .mat-checkbox-label{
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100px;
          line-height: 1.4;
        }
      }
    }
  }

  .matches-fade{
    position: absolute;
    bottom: 0;
    left: 1em;
    right: 2em;
    height: 1px;
    background: #fff;
    box-shadow: 0 -4px 15px 12px #fff;
  }
}
