@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~material-icons/iconfont/material-icons.scss';

*{
  box-sizing: border-box;
}
body {
  margin: 0;
}

mat-drawer-container, mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

.app-wrapper{
  overflow: hidden !important;
  width: 100%;
  height: 100%;
}

main {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;
  width: 15%;
}

.label {
  display: inline-block;
  line-height: 30px;
  margin: 0;
  width: 85%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 10px;
  transition: background 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbbbbb;
}
