@import "../../../variables";

figure {
  margin: 0;
  width: 100%;
  height: 100%;
}
#graph {
  >svg {
    height: 100%;
  }
}
::ng-deep {
  .clickable-through {
    pointer-events: none;
    user-select: none;
  }
  .node-label {
    z-index: 2;
  }
  circle {
    &.selected {
      fill: map-get($color, selected) !important;
      stroke: rgba(map-get($color, selected), 0.25);
    }
    &[id^="node_2_"]:not([fill]) {
      fill: map-get($color, primary);
    }
    &[id^="node_1_"]:not([fill]) {
      fill: map-get($color, secondary);
    }
  }
}

