<mat-drawer-container *ngIf="!loading">
  <mat-drawer class="compare-sidenav" [ngClass]="{'comparing': comparingWindowOpen}" #drawer mode="side" position="end">
    <app-sidenav #sidenav
                 [selectedDocuments]="selectedDocuments"
                 [comparingWindowOpen]="comparingWindowOpen"
                 (sidebarClose)="handleDrawerClose()"
                 (compareClick)="handleCompareClick()"
    ></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <div class="graph-wrapper" #graphWrapper>
      <app-graph
        #graph
        *ngIf="graphData"
        [width]="graphWrapper.clientWidth"
        [height]="graphWrapper.clientHeight"
        [showLabels]="settings.showLabels"
        [data]="graphData"
        [minZoom]="minZoom"
        [maxZoom]="maxZoom"
        [defaultZoom]="currentZoom"
        [distanceModifier]="settings.distanceModifier"
        [clumpingModifier]="settings.clumpingModifier"
        [graphPadding]="64"
        (nodeClicked)="handleNodeClick($event)"
        (emptyClicked)="clearSelection($event)"
        (nodeHovered)="handleNodeHovered($event)"
        (alphaChanged)="handleAlphaChanged($event)"
        (zoomed)="handleZoomed($event)"
        (resized)="handleGraphResize()"
      ></app-graph>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<div class="ui-wrapper" *ngIf="!loading">
  <div class="settings-wrapper">
    <div class="settings" [class.opened]="settingsOpen">
      <button mat-icon-button aria-label="Open/close settings" (click)="settingsOpen = !settingsOpen">
        <mat-icon>{{settingsOpen ? 'close' : 'settings'}}</mat-icon>
      </button>
      <app-settings *ngIf="settingsOpen" [(settings)]="settings"></app-settings>
    </div>
  </div>
  <div class="error-legend" *ngIf="settings.showDeviations && selectedNodes.length === 1">
    <div class="inner">
      <div class="bar"></div>
      <div class="up">Too far</div>
      <div class="middle">Perfect</div>
      <div class="bottom">Too close</div>
      <div *ngIf="errorIndicatorOffset" class="indicator" [ngStyle]="{'top': errorIndicatorOffset + 'px'}"></div>
    </div>
  </div>
  <div class="map-controls">
    <div class="center-control">
      <button mat-icon-button aria-label="Center map" (click)="centerCamera()">
        <mat-icon>adjust</mat-icon>
      </button>
    </div>
    <div class="zoom-controls">
      <button mat-icon-button aria-label="Increase zoom" (click)="increaseCamera()">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
      <mat-slider vertical [min]="getMinZoom()" [max]="getMaxZoom()" [step]="defaultStepZoom" [value]="getCurrentZoom()" (valueChange)="changeCamera($event)"></mat-slider>
      <button mat-icon-button aria-label="Decrease zoom" (click)="decreaseCamera()">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
    </div>
  </div>
</div>
