<mat-drawer-container>
  <mat-drawer class="compare-sidenav" [ngClass]="{'comparing': comparingWindowOpen}" #drawer mode="side" position="end">
    <app-sidenav #sidenav
                 [selectedDocuments]="selectedDocuments"
                 [comparingWindowOpen]="comparingWindowOpen"
                 (sidebarClose)="handleDrawerClose()"
                 (compareClick)="handleCompareClick()"
    ></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <div class="graph-wrapper" #graphWrapper>
      <app-graph
        #graph
        *ngIf="graphData"
        [width]="graphWrapper.clientWidth"
        [height]="graphWrapper.clientHeight"
        [showLabels]="settings.showLabels"
        [data]="graphData"
        [minZoom]="minZoom"
        [maxZoom]="maxZoom"
        [defaultZoom]="currentZoom"
        [defaultZoomStep]="defaultStepZoom"
        [distanceModifier]="settings.distanceModifier"
        [clumpingModifier]="settings.clumpingModifier"
        [graphPadding]="64"
        (nodeClicked)="handleNodeClick($event)"
        (emptyClicked)="clearSelection($event)"
        (nodeHovered)="handleNodeHovered($event)"
        (alphaChanged)="handleAlphaChanged($event)"
        (zoomed)="handleZoomed($event)"
        (resized)="handleGraphResize()"
      ></app-graph>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<app-user-interface
  [(settings)]="settings"
  [selectedNodes]="selectedNodes"
  [defaultStepZoom]="defaultStepZoom"
  [minZoom]="getMinZoom()"
  [maxZoom]="getMaxZoom()"
  [currentZoom]="getCurrentZoom()"
  [errorIndicatorOffset]="errorIndicatorOffset"
  (increaseCamera)="increaseCamera()"
  (decreaseCamera)="decreaseCamera()"
  (centerCamera)="centerCamera()"
  (changeCameraZoom)="changeCameraZoom($event)"
></app-user-interface>
