p{
  $hovered-word: attr(data-hovered);
  font-style: italic;
  word-spacing: 2px;
  line-height: 1.65;

  ::ng-deep .highlight{
    background-color: #ffd740;
    box-shadow: -2px 0px 2px 0px #ffd740, 2px 0px 2px 0px #ffd740;
  }

  ::ng-deep .lowlight{
    background-color: #ababab;
    box-shadow: -2px 0px 2px 0px #ababab, 2px 0px 2px 0px #ababab;
  }
}
