@import '../../../../../variables';

$highlight: map-get($color, secondary);
$soft-highlight: map-get($color, tertiary);
$lowlight: map-get($color, lowlight);

p{
  $hovered-word: attr(data-hovered);
  font-style: italic;
  word-spacing: 2px;
  line-height: 1.65;

  ::ng-deep .highlight{
    background-color: $highlight;
    box-shadow: -2px 0px 2px 0px $highlight, 2px 0px 2px 0px $highlight;
  }

  ::ng-deep .lowlight{
    background-color: $lowlight;
    box-shadow: -2px 0px 2px 0px $lowlight, 2px 0px 2px 0px $lowlight;
  }

  ::ng-deep .highlight.soft{
    background-color: $soft-highlight;
    box-shadow: -2px 0px 2px 0px $soft-highlight, 2px 0px 2px 0px $soft-highlight;
  }

  ::ng-deep .highlight.both{
    background-color: linear-gradient(45deg, $soft-highlight 0%, $soft-highlight 50%, $highlight 50%, $highlight 50%);
    box-shadow: -2px 0px 2px 0px $soft-highlight, 2px 0px 2px 0px $soft-highlight;
  }
}
